* {
    box-sizing: border-box;
}

body {
    padding: 40px;
}

button {
    width: 7rem;
    height: 3rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.container {
    background-color: #ddd;
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: wrap;
}